.search-wrapper{
    height: calc(80vh - 110px);
    width: calc(30vh - 5px);;
    margin-top: 110px;
    background-color: #ffffff;
    stroke: #879B6D;
    border: 1px solid #879B6D;
    position: absolute;
    left: 10%;
    top: 7%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(28%, -5vh);
}

#Search_box_title{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#Search_box_title p{
    text-align: center;
    padding: 10px;
    margin: 30px auto 0 auto;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    transform: translate(0, -60%);
}

#ways-list-wrapper{
    display: inline-block;
}
#ways-list{
    transform: translate(0%, -3vw);
    background-color: #ffffff;
    opacity: 0.9;
    width: 100%;
    height: 78%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    display: block;
    position: absolute;
    top: 25%;
}

#ways_list_box{
    padding-bottom: 10px;
}

#h4{
    margin: 15px 0 10px 0;
    color: black;
}

#button_list{
    transform: translate(88%, -55vh);
    height: 0;
}

#button_list button{
    margin-top: 2%;
    width: 8%;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: x-small;
}

#showInfo{
    font-size: x-small;
    transform: translate(35%, 30%);
    text-decoration: underline;
}

#bestWay{
    margin-left: 12%;
    text-align: left;
    font-size: small;
}

#time{
    margin-left: 10%;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
}

#progress{
    position: center;
    display: inline-block;
    align-items: center;
    text-align: left;
    width: 95%;
    height: 3vh;

}
#icon{
    width: 18px;
    position: relative;
    z-index: 2;
    transform: translate(0, -7%);
}

#detailIcon{
    width: 18px;
    position: relative;
    z-index: 2;
    transform: translate(-15%, 20%);
}


#min{
    position: relative;
    transform: translate(37%, -160%);
    font-size: 1px;
    padding-right: 5%;
    font-weight: bold;
    z-index: 3;
}

#BUS{
    width: 35%;
    height: 2vh;
    position: relative;
    z-index: 1;
    background-color: #0ABB0C;
    display: inline-block;
    border-radius: 10px;
    margin-right: -0.4vw;

}
#WALK{
    width: 35%;
    height: 2vh;
    position: relative;
    z-index: 1;
    background-color: #D9D9D9;
    display: inline-block;
    border-radius: 10px;
    margin-right: -0.4vw;

}
#SUBWAY{
     width: 35%;
     height: 2vh;
     position: relative;
     z-index: 1;
     background-color: #FF7A00;
     display: inline-block;
     border-radius: 10px;
     margin-right: -0.4vw;

 }

#verBUS {
    width: 5px;
    height: 10vh;
    background-color: #0ABB0C;
    display: inline-block;
    border-radius: 10px;
    transform: translate(800%, 5vh);
    margin-right: 60px;
    z-index: 5;
}
#verSUBWAY {
    width: 5px;
    height: 20vh;
    background-color: #FF7A00;
    display: inline-block;
    border-radius: 10px;
    transform: translate(800%, 10vh);
    margin-right: 60px;
    z-index: 5;
}
#verWALK {
    width: 5px;
    height: 15vh;
    background-color: #D9D9D9;
    display: inline-block;
    border-radius: 10px;
    transform: translate(800%, 6vh);
    margin-right: 60px;
    z-index: 5;
}

#infoDetail {
    transform: translate(0, -45%);
    text-align: left;
    margin-bottom: -10%;
    margin-top: -20%;
}

#verticProcess {
    width: 5px;
    height: 90vh;
    background-color: #D9D9D9;
    display: inline-block;
    border-radius: 10px;
    margin-right: 60px;
    z-index: 1;
    margin: -100%;
}

#detailMin {
    font-size: xx-small;
    transform: translate(-85%,5vh);
    text-align: right;

}

#isTraffic {
    text-align: right;
    transform: translate(-1%, -120%);
    color: darkred;
    font-size: small;
}