.Main_wrap{
    width: 100vw;
    height: calc(100vh - 110px);
    margin: auto;
    padding: 0;

}



#map{
    margin-top: 2%;
    transform: translate(20%, 0);
    width: 70%;
    height: 76%;
    z-index: 0;
}