.MenuBarWrap{
    padding-left: 30px;
    position: absolute;
    top: 15vh;
    left: 1vw;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.MenuBarLineWrap{
    width: 150px;
}

.MenuBarLineWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.MenuBarLineWrap p{
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
    padding-top: 5px;
    /*background-color: #5A634E;*/
}

.BarMenu{
    color: black;
}