/*.MenuBarWrap{*/
/*    padding-left: 30px;*/
/*}*/

.MenuBarLineWrap{
    width: 150px;
}

.MenuBarLineWrap{
    padding: 5px 0px;
    border-bottom: 2px solid black;
}

.MenuBarLineWrap p{
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
    padding: 7px 0px;
    /*background-color: #5A634E;*/
}

.BarMenu{
    color: black;
}